<% if user_signed_in?  %>
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "cool_pic.jpg", height: 50 %> 
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
    
      
        <!-- Login link (when logged out) -->
        <!-- 
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        -->

      <!-- Once auth fixed then delete all the stuff below -->
      <!-- Links when logged in -->
        <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'About', about_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'Projects', projects_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'Blog', articles_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to "Logout", destroy_user_session_path,:method => 'delete', class: "navbar-wagon-item navbar-erikablog-link" %>


        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <!--<%= image_tag "https://images.unsplash.com/photo-1543458104-7d567484d770?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55e879ad1f3b096771251f579aaa3b1f&auto=format&fit=crop&w=675&q=80", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>-->
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      
    </div>
<% else %>

  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "cool_pic.jpg", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
    
      
        <!-- Login link (when logged out) -->
        <!-- 
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        -->

      <!-- Once auth fixed then delete all the stuff below -->
      <!-- Links when logged in -->
        <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'About', about_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'Projects', projects_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to 'Blog', articles_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-erikablog-link" %>
        <%= link_to "Login", new_user_session_url, class: "navbar-wagon-item navbar-erikablog-link" %>
        


        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <!--<%= image_tag "https://images.unsplash.com/photo-1543458104-7d567484d770?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55e879ad1f3b096771251f579aaa3b1f&auto=format&fit=crop&w=675&q=80", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>-->
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

      
    </div>

<% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-erikablog-dropdown-menu">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="about">About</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="contact">Contact</a></li>
        
           
      </ul>
    </div>
  </div>
</div>

